body{

  font-family: Oxygen;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #323154;
  color: white;

}

/* *{border: 2px dashed red;} */

h1{

  margin: 0 auto;
  text-align: center;
  font-family: LedDisplay;

}

@font-face {
  font-family: "Oxygen";
  src: url("../font/Oxygen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LedDisplay";
  src: url("../font/LedDisplay.ttf") format("truetype");
}

@font-face {
  font-family: "Vintage";
  src: url("../font/Valorant.ttf") format("truetype");
}

div{

  border-radius: 10px;
  padding: 15px;
  width: 49%;
  height: 52vh;
  margin-bottom: 20px;
  background-color: #232341;

}


hr{visibility: hidden;}

.fixwidth{width: 45%;}

.right{

  float: right;
  display: inline;
  vertical-align: top;
  margin-top: 8px;

}

#right{

  display: inline;
  float: right;
  text-align: right;

}

.banner{

  display: block;
  margin: 0 auto;

}

.top-left_panel{

  float: left;

}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

i {
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  display:inline-block;
  padding:5px;
  border-radius:50%;
  border: 2px solid #ffffff;

}

img {
  display:block;
  background-color: white;
  object-fit: scale-down;
  border-radius:50%;
  width: 90px;
  height: 90px;
}

.top-right_panel{

  float: right;

}

.top-right_panel label{

  font-weight: bold;
  font-variant-numeric: tabular-nums;

}

canvas{

  margin: 0 auto;
  background-color: #232341;
  border-radius: 8px;

}

.bottom-left_panel{

  float: left;
  word-wrap: break-word;

}

.bottom-left_panel h3{

  text-align: center;
  margin-top: 0px;

}

.bottom-right_panel{

  float: right;
  padding: 0px;

}

.bottom-right_panel h3{

  text-align: center;

}

.footer {
   width: 100%;
   color: white;
   text-align: center;
   height: 10px;
   font-family: Vintage;
}
